includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        # Telescope is an optional dependency - class may not exist
        -
            identifier: class.notFound
            path: src/CollectorManager.php

        # Horizon is an optional dependency - class may not exist
        -
            identifier: class.notFound
            path: src/Controllers/HorizonController.php
