@font-face {
    font-family: "JetBrains Mono";
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("../fonts/JetBrainsMono[wght].ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("../fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
}
